main {
	width: 724px;
	margin-top: 30px;
	margin-left: 150px;
	margin-bottom: 30px;
	}
	
main>p {
	  text-align: justify;
	  }
			
h1 {
   font-size: 14pt;
   }

details {
	  margin-top: 15px;
	  }

summary {
		background: #ccc;
		color: #fff;
		padding: 5px 10px;
		outline: none;
		}

details[open] summary {
					background: #333;
					color: #c33;
					}

section>img {
		   margin-bottom: 10px;
		   }
		   
section>container {
			   position: absolute;
			   margin-left: 10px;
			   }
		
section>container>p {
				 font-size: 10 pt;
				 color: #000;
				 margin-bottom: 0 px;
				 width: 574px;
				 }